@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <img src="1059_library.jpg" alt="Biblioteca" style="width:1000px;height:500px;" align="middle">
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Biblioteca</h2>
            <p>
                Biblioteca este o instituție de cultură în care se adună, se organizează și se păstrează fonduri de publicații (cărți, reviste etc.) și manuscrise pentru a fi folosite de cititori.
                O bibliotecă este o colecție privată de cărți și alte medii, sau și o colecție de medie mare, deținută și administrată de o instituție. Termenul provine din combinația termenilor grecești biblos (carte) și theke (cufăr).
            </p>
            <p><a class="btn btn-default" href="https://ro.wikipedia.org/wiki/Bibliotec%C4%83">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Festivalul Internaţional de Carte Transilvania</h2>
            <p>
                Festivalul Internaţional de Carte Transilvania (FICT) este un eveniment de anvergură internaţională care susţine cultura scrisă română şi universală. Centrul Clujului găzduiește, în fiecare an, cele mai importante edituri din ţară şi de peste hotare.În Piața Unirii au
                loc numeroase lansări de carte, recitaluri de poezie şi lecturi publice; întâlniri cu scriitori români şi străini; dezbateri, conferinţe, colocvii, concerte și spectacole.Misiunea FICT este aceea de a oferi timp de șase zile o călătorie extraordinară în lumea cărților,
                printr-o manifestare culturală amplă pe măsura Clujului academic, cultural și spiritual.
            </p>
            <p><a class="btn btn-default" href="http://transilvaniabook.ro/">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Cartii online</h2>
            <p>Un site cu o serie extinsa de cartii de diferite genuri</p>
            <p><a class="btn btn-default" href="http://www.cartipdf.net/">Learn more &raquo;</a></p>
        </div>
    </div>
